/* All styles for your header Components live here */
.header-container_headerMainContainer {
  margin-bottom: 20px;
}
.header-container_headerTitle {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}
.header-title_titleDiv {
  margin: 10px 10px 10px 70px;
  font-size: 1.4rem;
  height: 100%;
}
.header-title_lambdaLink {
  color: gray;
}
.header-title_lambdaLink a {
  text-decoration: none;
  color: gray;
}
.image-thumbnail_imageContainer {
  height: 50px;
  margin: 5px 0 0 5px;
  position: absolute;
}
.image-thumbnail_imageContainer img {
  height: 66px;
}
.header-content_contentContainer {
  font-size: 1.7rem;
  width: 730px;
  margin-left: 70px;
}